@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$rob: 'Roboto', sans-serif;
$backblue: #F6F8FF;
body {
    font-family: $rob;
}
.container {
    max-width: 1330px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn {
 font-family: $rob;           
 text-decoration: none;
 box-sizing: border-box;
 display: block;
 width: fit-content;
 cursor: pointer;
 padding: 12px 32px;
 border: 2px solid #507BE9;
 background-color: #507BE9;
 color: #fff;
 font-weight: 400;
 border-radius: 40px;
 font-size: 16px;
 text-align: center;
 transition: .35s ease;
 &.trans-btn {
    color: #000;
    background-color: #fff;
    &:hover {
        background-color: #507BE9;
        color: #fff;
    }
 }
 &.white-btn {
    background-color: #fff;
    color: #000;
    border: #fff;
 }
 @media(max-width:760px) {
    font-size: 14px;
    padding: 14px 30px;
 }
 &:hover {
    background-color: #fff;
    color: #507BE9;
 }
}
.burger-btn {
    width: 30px;
    height: 30px;
    border: none;
    position: relative;
    background-color: transparent;
    span {
        position: absolute;
        left: 5px;
        top: calc(50% - 1px);
        height: 2px;
        background-color: #000;
        width: 20px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 6px;
        width: 20px;
        height: 2px;
        background-color: #000;
    }
    &::after {
        content: '';
        position: absolute;
        left: 5px;
        bottom: 6px;
        width: 20px;
        height: 2px;
        background-color: #000;
    }
}

.stars {
    overflow: hidden;
    display: block;
    width: 100px;
    height: 17px;
    background-image: url(assets/imgs/star-empty.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-right: 10px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        background-image: url(assets/imgs/star-fill.svg);
    }
    &.stars-4 {
       &::before {
        transform: translateX(-21%);
       }
    }
    &.stars-5 {
        &::before {
            transform: translateX(0);
        }
    }
}

.black-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: .35s ease;
    &._active {
        opacity: .6;
        visibility: visible;
        pointer-events: all;
    }
}