.about {
    padding: 100px 0 80px;
    background-color: #f6f6f6;
    // .about__title
    &.about-small {
        background-color: transparent;
    }
    &__title {
        margin-bottom: 50px;
        h2 {
            font-size: 32px;
            margin: 0;
            display: block;
            color: #000;
            font-weight: 500;
        }
    }

    // .about__slider

    &__slider {

    }

    // .about__slider-swiper

    &__slider-swiper {
        padding: 10px 15px 20px;
        box-sizing: border-box;
    }

    &__slider-swiper-small {
        box-sizing: border-box;
        padding-bottom: 25px;
        overflow: hidden;
        .about__slider-wrapper {
            overflow: visible;
        }
    }

    // .about__slider-wrapper

    &__slider-wrapper {
        align-items: stretch;
    }

    // .about__slider-slide

    &__slider-slide {
        height: auto;
        padding: 24px;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid #f5f5f5;
        background: #fff;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 3px 2px 7px 0px rgba(0, 0, 0, 0.05), 11px 7px 13px 0px rgba(0, 0, 0, 0.04), 43px 27px 20px 0px rgba(0, 0, 0, 0.01), 67px 43px 22px 0px rgba(0, 0, 0, 0.00);
    }
}

@media(max-width:1200px) {
    .about {
        &__slider {
            margin: 0 -15px;
            box-sizing: border-box;
            padding-left: 15px;
        }
    }
}

@media(max-width:768px) {
    .about {
        padding: 80px 0 60px;
    }
}
@media(max-width:560px) {
    .about {
        padding: 40px 0 20px;
        &__slider {
            margin: 0;
            padding: 0;
        }
        &__title {
            margin-bottom: 20px;
            h2 {
                font-size: 20px;
                text-align: center;
            }
        }
        &__slider-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            .img {
                width: 55px;
                height: 55px;
                img {
                    width: 100%;
                    display: block;
                }
            }
            .text {
                text-align: center;
                h3 {
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.dop-slide {
    box-sizing: border-box;
    border-radius: 24px;
border: 1px solid #F5F5F5;
background: #FFF;
box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
padding: 30px 25px;
    .img {
        max-width: 90px;
        max-height: 90px;
        height: 100%;
        width: 100%;
        img {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
        margin-bottom: 35px;
    }
    .text {
        h3 {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            display: block;
            margin-bottom: 15px;
        }
        p { 
            display: block;
            margin: 0;
            font-size: 14px;
            font-weight: 400;
        }
    }
}