.footer {
    padding: 65px 0 40px;
    background-color: #00103A;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    // .footer__body

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    // .footer__title

    &__title {
        max-width: 400px;
        margin-right: 30px;
        >a {
            margin-bottom: 60px;
            color: #fff;
            display: flex;
            align-items: center;
            img {
                width: 100%;
                max-width: 170px;
                margin-right: 10px;
                display: block;
                object-fit: contain;
            }
            .text {
                position: relative;
                padding-left: 15px;
                box-sizing: border-box;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                    opacity: .75;
                }
                h2 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #fff;
                }
            }
            text-decoration: none;
        }
        .links {
            a {
                display: block;
                text-decoration: none;
                color: #fff;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 10px;
            }
        }
    }

    // .footer__col

    &__col {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
        p {
            margin: 0;
            display: block;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
            margin-bottom: 20px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                padding: 0;
                margin: 0;
                margin-bottom: 8px;
                &:last-child{
                    margin-bottom: 0;
                }
                a, span {
                    font-size: 14px;
                    color: #fff;
                    text-decoration: none;
                    padding: 4px 0;
                    box-sizing: border-box;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.link-ico {
                        padding-left: 25px;
                        box-sizing: border-box;
                        position: relative;
                        margin-bottom: 10px;
                        display: block;
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 2px;
                            width: 20px;
                            height: 20px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                    &.vk-ico {
                        &::before {
                            background-image: url(assets/imgs/vk-ico.svg);
                        }
                    }
                    &.tg-ico {
                        &::before {
                            background-image: url(assets/imgs/tele-ico.svg);
                        }
                    }
                    &.phone-ico {
                        &::before {
                            background-image: url(assets/imgs/phone-ico.svg);
                        }
                    }
                    &.email-ico {
                        &::before {
                            background-image: url(assets/imgs/email-ico.svg);
                        }
                    }
                    &.time-ico {
                        &::before {
                            background-image: url(assets/imgs/time-ico.svg);
                        }
                    }
                }
            }
        }
    }

    // .footer__copy

    &__copy {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        span {
            display: block;
            width: fit-content;
            color: #a4a4a4;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.5;
        }
        .links {
            display: none;
        }
    }
}

@media(max-width:1200px) {
    .footer {
        &__body {
            flex-wrap: wrap;
        }
        &__title {
            width: 100%;
            max-width: none;
            margin-right: 0;
            margin-bottom: 40px;
            >a {
                margin-bottom: 0;
                h2 {
                    max-width: 200px;
                }
            }
            .links {
                display: none;
            }
        }
        &__col {
            margin-bottom: 30px;
        }
        &__copy {
            justify-content: space-between;
            align-items: flex-end;
            .links {
                display: block;
                a {
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media(max-width:560px) {
    .footer {
        padding: 40px 0 30px;
        &__title {
            >a {
                img {
                    max-width: 130px;
                }
                .text {
                    h2 {
                        font-size: 12px;
                        max-width: 150px;
                    }
                }
            }
        }
        &__col {
            width: calc(50% - 25px);
            margin-right: 25px;
            &:last-child {
                width: 100%;
            }
            &:nth-child(2n+1) {
                margin-right: 0;
            }
            p {
                font-size: 16px;
                margin-bottom: 20px;
            }
            ul {
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        &__copy {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 30px;
            .links {
                margin-bottom: 50px;
                a {
                    font-size: 14px;
                    margin-bottom: 10px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}