.welcome {
    padding: 60px 0;
    box-sizing: border-box;
    background-color: $backblue;

    // .welcome__row

    &__row {
        display: flex;
        align-items: stretch;
        &.small-items {
            .welcome__item-small {
                padding: 30px 20px;
                .img {
                    margin-right: 20px;
                    img {
                        display: block;
                        width: 100%;
                        box-sizing: border-box;
                        object-fit: contain;
                    }
                }
                .text {
                    h3 {
                        display: block;
                        margin: 0;
                        font-family: $rob;
                        color: #000;
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 5px;
                        line-height: 1.5;
                    }
                    p {
                        display: block;
                        max-width: 135px;
                        margin: 0;
                        font-family: $rob;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.5;
                        
                    }
                }
                display: flex;
                align-items: center;
                width: 25%;
                box-sizing: border-box;
                margin-right: 25px;
                background-color: #fff;
                border-radius: 12px;
                border: 1px solid var(--Stroke, #F5F5F5);
                background: var(--background-white, #FFF);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 3px 2px 7px 0px rgba(0, 0, 0, 0.05), 11px 7px 13px 0px rgba(0, 0, 0, 0.04), 43px 27px 20px 0px rgba(0, 0, 0, 0.01), 67px 43px 22px 0px rgba(0, 0, 0, 0.00);
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &.big-items {
            margin-bottom: 25px;
            .welcome__item {
                h1, h2 {
                    margin: 0;
                    display: block;
                    color: #000;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.3;
                    margin-bottom: 10px;
                }
                .text {
                    position: relative;
                    z-index: 2;
                }
                p {
                    display: block;
                    margin: 0;
                    font-size: 16px;
                    color: #000;
                    font-weight: 400;
                    line-height: 1.4;
                    margin-bottom: 24px;
                }
                text-decoration: none;
                color: inherit;
                position: relative;
                 padding: 60px 70px;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-end;
                font-family: $rob;
                .img {
                    position: absolute;
                    display: flex;
                    align-items: flex-end;
                    height: 100%;
                    left: 0;
                    top: 0;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
                width: 50%;
                background-color: #fff;
                border: 1px solid #f5f5f5;
                border-radius: 12px;
                margin-right: 25px;
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 3px 2px 7px 0px rgba(0, 0, 0, 0.05), 11px 7px 13px 0px rgba(0, 0, 0, 0.04), 43px 27px 20px 0px rgba(0, 0, 0, 0.01), 67px 43px 22px 0px rgba(0, 0, 0, 0.00);
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    // .welcome__item

    &__item {
        position: relative;
    }

    // .welcome__item-small

    &__item-small {
    }
}

@media(max-width:1024px) {
    .welcome {
        &__row {
            &.small-items {
                .welcome__item-small {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: 25px 15px;
                    box-sizing: border-box;
                    .img {
                        max-width: 80px;
                        width: 100%;
                        height: 80px;
                        margin: 0 0 15px;
                        img {
                            object-fit: contain;
                            display: block;
                        }
                    }
                    .text {
                        h3 {
                            font-size: 16px;
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
            &.big-items {
                .welcome__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    text-align: center;
                    padding: 8px 30px 45px;
                    .img {
                        position: relative;
                        height: 140px;
                        width: 100%;
                        max-width: 140px;
                        margin: 0 0 15px;

                    }
                    .text {
                        p {
                            margin-bottom: 20px;
                        }
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media(max-width:640px) {
    .welcome {
        padding: 40px 0;
        &__row {
            &.big-items {
                margin-bottom: 0;
                flex-direction: column;
                .welcome__item {
                    margin: 0 0 24px;
                    padding: 20px 15px;
                    .img {
                        width: 100px;
                        height: 100px;
                    }
                    width: 100%;
                    box-sizing: border-box;
                    .text {
                        h1, h2 {
                            font-family: $rob;
                            font-weight: 700;
                            line-height: 1.5;
                            color: #000;
                            margin-bottom: 5px;   
                            font-size: 16px;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
            &.small-items {
                margin: 0 -12.5px;
                box-sizing: border-box;
                flex-wrap: wrap;
                .welcome__item-small {
                    width: calc(50% - 25px);
                    margin: 0 12.5px 24px;
                    padding: 20px 5px;
                    box-sizing: border-box;
                    .img {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 15px;
                    }
                    .text {
                        h3 {
                            font-size: 14px;
                            margin-bottom: 5px;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}