.main {
}
.black-modal {
}

main.for-zaims {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 460px;
        background-color: #F6F8FF;
        z-index: -1;
    }
}

.breadcrumbs {
    padding-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    a {
        display: block;
        margin-right: 10px;
        padding-right: 10px;
        box-sizing: border-box;

        font-family: $rob;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        color: #694686;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:last-child {
            &::before, &::after {
                display: none;
            }
            margin-right: 0;
            padding-right: 0;
        }
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 5px;
            transform: rotate(45deg);
            background-color: #000;
            width: 5px;
            height: 1px;
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 8px;
            transform: rotate(-45deg);
            background-color: #000;
            width: 5px;
            height: 1px;
        }
    }
}

.section-title {
    margin-bottom: 20px;
    h1 {
        font-family: $rob;
        font-size: 40px;
        color: #000;
        margin: 0;
        font-weight: 500;
        line-height: 1.3;
        display: block;
    }
}
.wrap-body {
    overflow-x: hidden;
    .container {
        display: flex;
        align-items: stretch;
        position: relative;
        .content {
            max-width: 970px;
            width: calc(100% - 270px);
            margin-right: 30px;
        }
        .sidebar {
            max-width: 300px;
        }
    }
}

@media(max-width:1200px) {
    .wrap-body {
        .container {
            .content {
                margin-right: 0;
                width: 100%;
                max-width: none;
            }
            .sidebar {
                display: none;
            }
        }
    }
}

.form {

		// .form__tabs

		&__tabs {
            display: flex;
            align-items: stretch;
            margin-bottom: 25px;
            button {
                white-space: nowrap;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
                font-family: sans-serif;
                padding: 10px;
                box-sizing: border-box;
                background-color: #fff;
                border-radius: 30px;
                border: none;
                transition: .35s ease;
                cursor: pointer;
                margin-right: 10px;
                min-width: 55px;
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    background-color: #1E3A82;
                    color: #fff;
                }
                &:hover {
                    background-color: #1E3A82;
                    color: #fff;
                }
            }
		}

		// .form__item

		&__item {
		}
}
.active {
}
.form-body {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.07);
    .mobile-filter-btns {
        display: none;
    }
    form {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        label {
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            span {
                color: #797979;
                font-family: $rob;
                font-size: 16px;
                display: block;
                padding-left: 20px;
                box-sizing: border-box;
                margin-bottom: 5px;
            }
            input {
                padding: 20px;
                box-sizing: border-box;
                font-weight: 500;
                font-family: $rob;
                border-radius: 8px 8px 0px 0px;
                border: 1px solid #A4A4A4;
            }
            .setting-btn {
                margin-top: 20px;
                width: 60px;
                height: 60px;
                padding: 12px;
                box-sizing: border-box;
                border-radius: 9px;
                border: 1px solid #A4A4A4;
                background-color: #fff;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                svg {
                    width: 100%;
                    display: block;
                    fill: #507BE9;
                    transition: .35s ease;
                }
                &:hover {
                    svg {
                        fill: #1E3A82;
                    }
                }
            }
            .main-btn {
                margin-top: 20px;
            }
        }
    }
    .items {
        ul {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            li {
                display: flex;
                align-items: center;
                margin-right: 15px;
                margin-bottom: 15px;
                &:last-child {
                    margin-right: 0;
                }
                svg{
                    margin-right: 8px;
                    width: 20px;
                    height: 20px;
                }
                span {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #000;
                    display: block;
                    margin-right: 20px;
                }
            }
        }
    }
}

@media(max-width:920px) {
    .form__tabs {
        overflow: auto;
        padding-bottom: 10px;
        margin-bottom: 15px;
        button {
            min-width: fit-content;
        }
    }
    .form-body {
        padding: 20px;
        form {
            flex-wrap: wrap;
            label {
                &:nth-child(1), &:nth-child(2) {
                    width: 40%;
                }
                &:nth-child(4) {
                    width: 30%;
                }
                &:last-child {
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width:600px) {
    .form-filter {
        display: flex;
        flex-direction: column-reverse;
    }
    .form-body {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        margin-bottom: 15px;
        form {
            display: none;
        }
        .items {
            display: none;
        }
        .mobile-filter-btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            .setting-list-mobile {
                padding: 0;
                margin: 0;
                list-style: none;
                margin-top: -10px;
                max-height: 0;
                overflow: hidden;
                transition: .35s ease;
                &.active {
                    max-height: 300px;
                }
                li {
                    button {
                        border: none;
                        background-color: #fff;
                        border-radius: 0;
                    }
                }
            }
            .item-btn {


                position: relative;
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 10px;
            }
            button {
                margin-bottom: 10px;
                box-sizing: border-box;
                padding: 12px 20px;
                width: 100%;
                display: flex;
                background-color: transparent;
                border-radius: 8px;
                border: 1px solid #697686;
                justify-content: space-between;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                svg {
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
                }
                &.setting-popup {
                    justify-content: center;
                    svg {
                        margin-right: 15px;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &.setting-btn {

                }
            }
        }
    }
}


.allitems {
    padding: 40px 0;
    box-sizing: border-box;
    // .allitems__sort

    &__sort {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        span {
            font-size: 16px;
            font-weight: 700;
            color: #000;
            line-height: 1.3;
            display: block;
            margin-right: 15px;
        }
        button {
            margin-right: 15px;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.3;
            color: #000;
            text-decoration: underline;
            transition: .35s ease;
            border: none;
            cursor: pointer;
            background-color: transparent;
            &.active {
                color: #507BE9;
                text-decoration: none;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    // .allitems__body

    &__body {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 0 -12.5px;
    }

    // .allitems__item

    &__item {
        height: auto;
        width: calc(33.33% - 25px);
        margin: 0 12.5px 25px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 30px 15px;
        border-radius: 20px;
        border: 1px solid #F5F5F5;
        background: var(--Background, #FFF);
        box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.10);
        .rating {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .valuble {
                display: flex;
                align-items: center;
                padding-top: 5px;
                span {
                    font-size: 14px;
                    font-weight: 700;
                    display: block;
                    margin-right: 8px;
                }
                a {
                    display: block;
                    margin: 0;
                    color: #697686;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    font-size: 14px;

                }
            }
        }
        .params {
            display: flex;
            flex-wrap: wrap;
            .param {
                width: 50%;
                display: flex;
                box-sizing: border-box;
                padding-right: 15px;
                &:last-child {
                    width: 100%;
                    padding-right: 0;
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    span {
                        font-size: 14px;
                        &:first-child{
                            font-weight: 700;
                            color: #A4A4A4;
                            display: block;
                            margin-bottom: 5px;
                        }
                        &:last-child {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.3;
                            color: #000;
                        }
                    }
                }

                .img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 7px;
                    background-color: #F5F5F5;
                    border-radius: 5px;
                    width: 40px;
                    height: 40px;
                    min-width: 40px;
                    margin-bottom: 15px;
                    margin-right: 5px;
                    img {
                        width: 25px;
                        height: 25px;
                        display: block;
                    }
                    
                }
            }
        }
        .action {
            width: 100%;
            a {
                display: block;
                width: 100%;
                max-width: none;
            }
        }
    }

    // .allitems__item-head

    &__item-head {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-bottom: 20px;
        .img {
            margin-right: auto;
            max-width: 130px;
            img {
                display: block;
                width: 100%;
            }
        }
        .name {
            margin-left: 15px;
            h2 {
                margin: 0;
                text-decoration: none;
                color: #000;
                font-size: 24px;
            }
        }
    }
}

@media(max-width:920px) {
    .allitems {
        &__sort {
        }
        &__body {
        }
        &__item {
            width: calc(50% - 25px);
            margin: 0 12.5px 25px;
        }       
        &__item-head {
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            margin-bottom: 10px;
            .img {
                margin-bottom: 15px;
            }
            .name {
                margin: 0;
            }
        }
    }
}
@media(max-width:620px) {
    .allitems {
        &__sort {
            display: none;
        }
        &__item {
            width: 100%;
            margin: 0 0 15px;
        }
        &__body {
            margin: 0;
        }
        &__item-head {
            .name {
                h2 {
                    font-size: 24px;
                }
            }
        }
    }
}
.more-btn {
    display: flex;
    justify-content: center;
    .main-btn {
        max-width: 270px;
        text-align: center;
        width: 100%;
    }
}

.bester {
    position: relative;
    padding: 40px 0;
    box-sizing: border-box;
    &__title {
        margin-bottom: 30px;
        h2 {
            color: #fff;
            margin: 0;
            font-size: 40px;
            line-height: 1.3;
            display: block;
            text-align: left;
        }
    }
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        left: -970px;
        top: 0;
        width: calc(100vw + 970px);
        height: 100%;
        background: linear-gradient(105deg, #507BE9 0%, #0C225D 100%, #13399A 100%);
        
    }
}

.feedback {
    &.feedback-small {
        position: relative;
        color: #fff;
        overflow: visible;
        &::before {
            content: '';
            position: absolute;
            left: -700px;
            top: 0;
            width: calc(100vw + 720px);
            height: 100%;
            background-color: #F6F8FF;
            z-index: -1;
        }
        background-color: transparent;
        .feedback__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .feedback__navigation {
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
            button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                padding: 0;
                img {
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                }
                &.feedback__next {
                    margin-left: 15px;
                    img {
                        transform: rotate(180deg);
                    }   
                }
            }
        }
    }
}


.paragraph {
    padding: 80px 0;
    box-sizing: border-box;
    // .paragraph__title

    &__title {
        margin-bottom: 20px;
        h2  {
            display: block;
            margin: 0;
            font-family: $rob;
            font-size: 40px;
            font-weight: 500;
            line-height: 1.3;
        }
    }

    // .paragraph__text

    &__text {
        margin-bottom: 15px;
        p {
            font-size: 16px;
            margin: 0;
            display: block;
            font-weight: 400;
            line-height: 1.5;
            color: #000;
            ul {
                list-style: none;
                margin: 0;
                li {
                    margin: 0;
                    margin-bottom: 5px;
                    line-height: 1.5;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    // .paragraph__hide-text

    &__hide-text {
        overflow: hidden;
        max-height: 0;
        transition: .35s ease;
        opacity: 0;
        &.active {
            max-height: 500px;
            opacity: 1;
        }
        p {
            font-size: 16px;
            margin: 0;
            display: block;
            font-weight: 400;
            line-height: 1.5;
            color: #000;
            ul {
                list-style: none;
                margin: 0;
                li {
                    margin: 0;
                    margin-bottom: 5px;
                    line-height: 1.5;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    // .paragraph__action

    &__action {
        margin-top: 15px;
    }
}

@media(max-width:768px) {
    .paragraph {
        padding: 40px 0;
        &__title {
            h2 {

            }
        }
    }
}

@media(max-width:560px) {
    .paragraph {
        padding: 30px 0;
        &__title {
            h2 {
                font-size: 18px;
            }
        }
        &__text {
            P {
                font-size: 14px;
            }
            ul {
                padding-left: 15px;
                li {
                    font-size: 14px;
                }
            }
        }
        &__hide-text {
            h3 {
                font-weight: 600;
                font-size: 14px;
                color: #507BE9;
            }
            p {
                font-size: 14px;
            }
            ul {
                padding-left: 15px;
                li {
                    font-size: 14px;
                }
            }
        }
    }
}

.faq {
    padding: 40px 0;
    box-sizing: border-box;
    // .faq__title

    &__title {
        margin-bottom: 40px;
        h2 {
            margin: 0;
            display: block;
            font-family: $rob;
            font-size: 40px;
            font-weight: 500;
            line-height: 1.3;
            color: #000;
        }
    }

    // .faq__items

    &__items {
        display: flex;
        flex-direction: column;
    }

    // .faq__item

    &__item {
        width: 100%;
        border-radius: 10px;
border: 2px solid #F6F6F6;
background: #FFF;
box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.07);
margin-bottom: 20px;
&:last-child {
    margin-bottom: 0;
}
    }

    // .faq__btn

    &__btn {
        width: 100%;
        cursor: pointer;
        box-sizing: border-box;
        padding: 25px 40px;
        text-align: left;
        font-size: 22px;
        font-weight: 700;
        color: #000;
        border: none;
        background-color: transparent;
        position: relative;
        &.active {
            &::before {
                background-image: url(assets/imgs/faq-min.png);
            }
        }
        &::before {
            content: '';
            position: absolute;
            right: 25px;
            top: calc(50% - 15px);
            width: 30px;
            height: 30px;
            background-image: url(assets/imgs/faq-plus.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    // .faq__text

    &__text {
        padding: 0 40px;
        box-sizing: border-box;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: .35s ease;
        &.active {
            padding: 0 40px 25px;
            opacity: 1;
            max-height: 500px;
        }
        p {
            margin: 0;
            display: block;
            text-align: left;
            color: #202020;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
        }
    }
}

@media(max-width:620px) {
    .faq {
        &__title {
            h2 {
                font-size: 18px;
            }
        }
        &__btn {
            font-size: 14px;
            padding: 20px 40px 20px 15px;
            &::before {
                right: 15px;
                width: 25px;
                height: 25px;
            }
        }
        &__text {
            padding: 0 15px;
            &.active {
                padding: 0 15px 20px;
                p {
                    font-size: 14px;
                }
            }
        }
    }
}
.papers-small {
    padding: 80px 0;
    box-sizing: border-box;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: -730px;
        top: 0;
        width: calc(100vw + 730px);
        height: 100%;
        background-color: #F6F8FF;
        z-index: -1;
    }
    .papers__title {
        display: flex;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
        justify-content: space-between;
        h2 {

        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .papers__slider-wrapper {
        padding: 40px 0;
    }
    .free-link {
        display: none;
    }
}

@media(max-width:620px) {
    .papers-small {
        padding: 40px 0;
        .papers__title {
            justify-content: center;
            margin-bottom: 0;
            a {
                display: none;
            }
            h2 {
                font-size: 20px;
            }
        }
        .free-link {
            display: block;
            width: fit-content;
            margin: 0 auto;
            color: #507BE9;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}

.feedback__slider-slide {
    .raiting {
        margin-bottom: 15px;
        .value {
            color: #545454;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

@media(max-width:620px) {
    .feedback.feedback-small {
        .feedback__title {
            h2 {
                font-size: 20px;
            }
        }
    }
    .dop-slide {
        display: none;
    }

    .feedback {
        &.feedback-small {
            .feedback__title {
                justify-content: center;
                a {
                    display: none;
                    
                }
            }
        }
    }
}

.quest {
    padding: 80px 0 40px;
    box-sizing: border-box;
    >a {
        margin-top: 40px;
        max-width: none;
        text-align: center;
        width: 100%;
    }
    // .quest__item

    &__item {
        box-sizing: border-box;
        padding: 40px 30px 40px 45px;
        
        display: flex;
        align-items: center;
        border-radius: 24px;
border: 1px solid var(--Border, #EFEFEF);
background: #F6F8FF;
box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
        .text {
            margin-right: auto;
            p {
                font-family: $rob;
                font-size: 25px;
                font-weight: 500;
                line-height: 1.3;
                margin: 0;
                margin-bottom: 5px;
            }
            a {
                margin-top: 20px;
            }
        }
        .img {
            max-width: 150px;
            margin-left: 15px;
            img {
                display: block;
                width: 100%;
            }
        }
    }
}

@media(max-width:620px) {
    .quest {
        padding: 40px 0;
        box-sizing: border-box;
        &__item {
            flex-direction: column;
            padding: 20px 15px;
            align-items: center;
            .img {
                order: 1;
                width: 55px;
                margin: 0;
                margin-bottom: 10px;
            }
            .text {
                order: 2;
                margin-bottom: 15px;
                p {
                    color: #000;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: center;
                    margin: 0;
                }
            }
            a {
                display: block;
                width: fit-content;
                margin: 0 auto;
            }
        }
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    .chart {
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        width: 100%;
        border-radius: 20px;
border: 1px solid #F5F5F5;
background: #FFF;
box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.07);
padding: 30px 20px;
box-sizing: border-box;
        &::before {
            content: '';
            position: absolute;
            right: 10px;
            top: 0;
            width: 65px;
            height: 75px;
            background-image: url(assets/imgs/flag-chart.png);
            background-size: cover;
            background-repeat: no-repeat;
           
        }
        .chart__title {
            padding-right: 50px;
            h2 {
                color: #000;
                font-family: $rob;
                font-size: 24px;
                margin: 0;
                display: block;
                line-height: 1.2;
                text-transform: capitalize;
            }
        }
        .chart__list {
            counter-reset: my-counter; // Задаем начальное значение счетчика
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    margin: 0;
                    margin-bottom: 10px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #E6E6E6;
                    &::before {
                        content: counter(my-counter); // Используем счетчик для добавления числа
                        counter-increment: my-counter; // Увеличиваем счетчик
                        display: inline-block;
                        margin-right: 10px; // Расстояние между числом и текстом
                        font-size: 19px;
                        line-height: 1;
                        margin-bottom: -2px;
                    }
                    a {
                        color: #697686;
                        font-size: 19px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1;
                        text-decoration: underline;
                        padding: 15px 0;
                        padding-left: 30px;
                        position: relative;
                        &.top-chart {
                            &::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: calc(50% - 9px);
                                width: 18px;
                                height: 18px;
                                background-image: url(/assets/imgs/rat-up.svg);
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
                        &.bot-chart {
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: calc(50% - 9px);
                                width: 18px;
                                height: 18px;
                                background-image: url(/assets/imgs/rat-dwon.svg);
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidebar-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
border: 1px solid #F5F5F5;
background: #FFF;
box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.07);
box-sizing: border-box;
padding: 25px;
}
.filter-items {
    display: flex;
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
    }
    p {
        font-size: 20px;
        margin: 0;
        display: block;
        font-weight: 500;
        margin-bottom: 10px;
    }
    flex-direction: column;
    button {
        background-color: transparent;
        text-align: left;
        padding: 0;
        box-sizing: border-box;
        border: none;
        margin-bottom: 5px;
        padding: 5px 0;
        color: #697686;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
width: 100%;
cursor: pointer;
&:hover {
    text-decoration: underline;
}
    }


    svg {
        display: block;
        
    }
}
.btn-filter {
}


.popup-filter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px 15px;
    box-sizing: border-box;
    overflow: auto;
    visibility: hidden;
    // .popup-filter__form
    .list {
        padding: 15px 0;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                svg {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                }
            }
        }
    }
    &__form {
        .item {
            &.item-hide {
                display: none;
            }
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            span {
                padding: 0 20px;
                display: block;
                margin-bottom: 5px;
            }
            input {
                box-sizing: border-box;
                padding: 15px 35px 15px 20px;
                font-size: 16px;
                color: #000;
                font-weight: 500;
                &::placeholder {
                    color: #000;
                }
            }
        }  
        .setting-btn {
            margin-bottom: 15px;
            .setting-btn__btn {
                background-color: transparent;
                border: none;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 9px;
                border: 1px solid #697686;
                svg {
                    width: 100%;
                    height: 100%;

                }
            }
        }
        .action {
            button {
                max-width: none;
                width: 100%;
            }
        }
    }
   
}
.popup {

    // .popup__filter-change

    &__filter-change {
    }

    // .popup__title

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        span {
            font-size: 28px;
            color: #000;
            margin-right: 15px;
            display: block;
            line-height: 1.2;
            font-weight: 500;
            font-family: $rob;
        }
        button {
            background-color: transparent;
            padding: 5px;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.close-popup-filter {
}

.item-hide {
}
.setting-btn {

    // .setting-btn__btn

    &__btn {
    }
}

.go-form {
}
.main-btn {
}
.blue-btn {
}


@media(max-width:600px){
    .popup-filter {
        &.active {
            display: block;
            visibility: visible;
        }
    }
}

.popup__category {
    display: none;
}

@media(max-width:600px) {
    .popup__category {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow: auto;
        padding-top: 30px;

        padding-bottom: 30px;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: .35s ease;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        .close-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: transparent;
            cursor: pointer;
            border: none;
        }
    }
}
.form-body form label {
    overflow: hidden;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.noUi-horizontal {
    height: 4px;
    position: relative;
    padding: 0 10px;
}

.noUi-target {
    height: 4px;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.noUi-horizontal .noUi-handle {
    height: 10px;
    border: none;
    top: -3px;
    right: -5px;
    width: 10px;
    background: #507BE9;
    opacity: 1;
    box-shadow: none;
    border-radius: 50%;
    &::before {
        left: 4px;
        transform: translateX(-100%);
        width: 300px;
        top: 2px;
        height: 4px;
        background: #507BE9;
    }
    &::after {
        display: none;
        
    }
}

.sum-label {
    position: relative;
    &::before {
        content: '₽';
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        color: #000;
        top: 50%;
        right: 10px;
    }
}